body
{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
.heading h3{
    display: inline;
    font-size: 22px;
}
.heading button{
    float: right;
    border: 1px solid white;
}
canvas{
 border:3px solid white;
border-radius: 20px;
box-shadow: 5px 5px 5px white;
}